h2{
    text-align: center;
}
.contenedor {
    width: 30% !important;
    margin-top: 13%;
    margin-left: 300px;
    border: 5px;
}
.ajax_validatorcallout div, .ajax_validatorcallout td{
    border:solid 1px black;
    border-right-width: 1px;
    border-left-width: 1px;
    border-right-style: solid;
    border-left-style: solid;
    border-right-color: black;
    border-left-color: black;
    background-color: white !important;

}
.ajax_validatorcallout_error_message_cell{
    font-family: Verdana;
    font-size: 13px !important;
    padding: 5px;
    border-right: none !important;
    border-left: none !important;
    width: 100%;
}
